/* Eliminar márgenes y padding por defecto en el body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que la altura ocupe toda la pantalla */
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

/* El contenedor principal que envuelve todo */
.container2 {
  display: flex;
  flex-direction: row;
  height: 100vh; /* 100% de la altura de la ventana */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #2c3e50;
  color: #ecf0f1;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  height: 100vh; /* Asegura que la barra lateral ocupe toda la altura */
}

.sidebar.closed {
  width: 50px;
}

.sidebar.open {
  width: 110px;
}

/* Estilo del botón para abrir/cerrar la barra lateral */
.toggle-button {
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #9eb1d4, #FD8986);
}

/* Cambios en el hover de los botones */
.toggle-button:hover {
  background-color: #3498db;
}

.sidebar h2 {
  margin: 5px 0 10px 5px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Estilo para el contenido principal */
.content {
  flex-grow: 1;
  padding: 20px;
  padding-top: 120px;
  background: linear-gradient(to right, #9eb1d4, #FD8986);
  transition: margin-left 0.3s ease-in-out;
  height: 100vh; /* Asegura que el contenido ocupe toda la altura */
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

/* Estilo del área de los proyectos */
.VistaTodo {
  background-color: #fff;
  margin-top: 30px;
  height: 100%; /* Hace que ocupe todo el espacio disponible */
  overflow-y: auto; /* Permite desplazamiento dentro de esta sección */
}

/* Estilo de los botones */
.add-project-button, .edit-button, .delete-button, .toggle-button, .Cancelar-button, .Save-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.add-project-button1 {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.add-project-button:hover, .edit-button:hover, .delete-button:hover, .toggle-button:hover, .Cancelar-button:hover, .Save-button:hover {
  background-color: #0056b3;
}

.project-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Estilo de los inputs y textarea */
input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #007BFF;
}

/* Estilos de opciones dentro del select (si es necesario personalizar más) */
select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}
input[type="text"]:focus, textarea:focus {
  border-color: #007BFF;
}

.edit-form {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

button {
  font-family: inherit;
}

/* Estilo para los botones de editar y eliminar */
.edit-button {
  background-color: #007BFF;
  color: white;
  border: none;
}

.delete-button {
  background-color: #f44336; /* Color rojo */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.Cancelar-button {
  background-color: #e0e0e0; /* Gris */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
}

.Save-button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 10px;
}
