*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   
}
.Form-Regis{
    width: 400px;
    background: rgb(12, 13, 14); 
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.Form-Regis h3{
    font-size: 22px;
    margin-bottom: 20px;
    

}
.controles {
    width: 100%;
    background-color: rgb(233, 213, 33);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: sans-serif;
}
.Form-Regis p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.Form-Regis a {
    color: white;
    text-decoration: none;
    font-family: 'calibri';

}
.Form-Regis a:hover{
    color: rgb(233, 213, 33);
    text-decoration: underline;
    
}
.Form-Regis .boton{
    width: 100%;
    background-color: rgb(233, 213, 33);
    
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
}
.Form-Regis .boton :hover{
 background-color: aliceblue;
}
.error{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
