*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background: linear-gradient(to right, #9eb1d4, #FD8986);
    padding-bottom: 250px;
    padding-top: 50px;
}

.Form-Regis{
    width: 400px;
   background: transparent;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: rgb(3, 3, 3);
    backdrop-filter: blur(40px);
   box-shadow: 0 0 10px rgb(0, 0, 0);
}
.Form-Regis h3{
    font-size: 22px;
    margin-bottom: 20px;
    

}
.controles {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: sans-serif;
}
.Form-Regis p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;

}
.Form-Regis a {
    color: white;
    text-decoration: none;
    font-family: 'calibri';

}
.Form-Regis a:hover{
    color: #563ec4;
    text-decoration: underline;
    
}
.Form-Regis .boton{
    width: 100%;
    background-color: #ffffff;
    
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
}
.Form-Regis .boton :hover{
 background-color: aliceblue;
}
.error{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
